In [4]:
import pandas as pd

# Se o arquivo estiver na mesma pasta do notebook
arquivo = "internacoes.csv"

# Ler o CSV
dados = pd.read_csv(arquivo, sep=';', encoding='latin1')

print("First 5 records:", dados.head())

# Exibir informações sobre o dataset
print('Dados info:', dados.info())

# Exibir dimensões do dataset
print('Dimensões:', dados.shape)

First 5 records:     data_internacao           especialidade município  idade       sexo
0  01/07/2024 06:28       CIRURGIA PLÁSTICA     NATAL     47  MASCULINO
1  01/07/2024 07:08  CARDIOLOGIA PEDIÁTRICA   MOSSORÓ     11   FEMININO
2  01/07/2024 07:34       ONCOLOGIA CLÍNICA    PILÕES     67  MASCULINO
3  01/07/2024 08:06       CIRURGIA PLÁSTICA     NATAL     24   FEMININO
4  01/07/2024 08:13                UROLOGIA       AÇU     75  MASCULINO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2110 entries, 0 to 2109
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   data_internacao  2110 non-null   object
 1   especialidade    2110 non-null   object
 2   município        2110 non-null   object
 3   idade            2110 non-null   int64
 4   sexo             2110 non-null   object
dtypes: int64(1), object(4)
memory usage: 82.6+ KB
Dados info: None
Dimensões: (2110, 5)

In [5]:
# Exibir estatísticas básicas
display(dados.describe())

# Verificar valores ausentes
display(dados.isnull().sum().sort_values(ascending=False))

             idade
count  2110.000000
mean     47.934597
std      22.143364
min       0.000000
25%      33.000000
50%      52.000000
75%      65.000000
max      98.000000

data_internacao    0
especialidade      0
município          0
idade              0
sexo               0
dtype: int64

In [6]:
# Caminho para salvar o arquivo Parquet
arquivo_parquet = "internacoes_julagoset_2024.parquet"

# Salvar como Parquet
dados.to_parquet(arquivo_parquet, engine='pyarrow', index=False)

print(f"Arquivo Parquet salvo em: {arquivo_parquet}")

Arquivo Parquet salvo em: internacoes_julagoset_2024.parquet